.myNavbar {
  border-top: 1px solid #fb889c;
  border-bottom: 1px solid #fb889c;

  &__hamburger-menu {
    transition: transform .5s;

    &:hover {
      transform: scale(1.5);
    }
  }

  &__text {
    line-height: 50px;
  }
}
